# Example terraform.tfvars file for end-to-end migration
# Copy this file to terraform.tfvars and fill in real ARM IDs.

# Common
parent_id             = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/<rg>"
project_name          = "<migrate-project-name>"
source_appliance_name = "<src-appliance>"
target_appliance_name = "<tgt-appliance>"

# Initialize step
skip_initialize      = true
replication_vault_id = "/subscriptions/.../resourceGroups/<rg>/providers/Microsoft.DataReplication/replicationVaults/<vault>"

# Replicate step
custom_location_id       = "/subscriptions/.../resourceGroups/<hci-rg>/providers/Microsoft.ExtendedLocation/customLocations/<cl>"
run_as_account_id        = "/subscriptions/.../resourceGroups/<rg>/providers/Microsoft.OffAzure/VMwareSites/<site>/runAsAccounts/<acct>"
target_hci_cluster_id    = "/subscriptions/.../resourceGroups/<hci-rg>/providers/Microsoft.AzureStackHCI/clusters/<cluster>"
target_resource_group_id = "/subscriptions/.../resourceGroups/<target-rg>"
target_storage_path_id   = "/subscriptions/.../storageContainers/<csv>"
target_virtual_switch_id = "/subscriptions/.../logicalnetworks/<switch>"

# Migration control
shutdown_source_vm = true

# Per-VM map
vms = {
  "vm-01" = {
    machine_id     = "/subscriptions/.../machines/<machine-guid>"
    target_vm_name = "vm-01-migrated"
    os_disk_id     = "6000C293-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
    disks_to_include = [
      {
        disk_id      = "6000C293-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        disk_size_gb = 40
        is_os_disk   = true
      }
    ]
    nics_to_include = [
      {
        nic_id            = "4000"
        target_network_id = "/subscriptions/.../logicalnetworks/<switch>"
      }
    ]
  }
}
