location                 = "eastus"
parent_id                = "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/<rg>"
project_name             = "<migrate-project-name>"
machine_id               = "/subscriptions/.../providers/Microsoft.OffAzure/.../machines/<vm-id>"
os_disk_id               = "scsi0:0"
source_appliance_name    = "<src-appliance>"
target_appliance_name    = "<tgt-appliance>"
target_resource_group_id = "/subscriptions/.../resourceGroups/<target-rg>"
target_storage_path_id   = "/subscriptions/.../storagecontainers/<csv>"
target_virtual_switch_id = "/subscriptions/.../logicalnetworks/<switch>"
target_vm_name           = "migrated-vm-01"
custom_location_id       = "/subscriptions/.../customLocations/<cl>"
target_hci_cluster_id    = "/subscriptions/.../clusters/<hci>"
